body {
    font-family: sans-serif;
    padding: 10px;
}
h2 {
    font-weight: bold;
    display: inline-block;
}
.refresh {
    font-size: 80%;
    margin-left: 10px;
}
.header {
    background: #ECECEC;
    padding: 5px;
}
.suggestions {
    border: 2px solid #ECECEC;
}
li {
    padding: 5px;
}
li img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
li .username, li .close {
    display: inline-block;
    position: relative;
    bottom: 15px;
    left: 5px;
}
.container {
    margin: 20px;
}
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
header {
  text-align: center;
  background-color: #F4511E;
  color: white;
  padding: 10px 0 20px;
  margin-bottom: 20px;
}
header a {
  color: white;
  font-weight: bold;
  font-variant: small-caps;
  text-decoration: none;
  background-color: #FF7043;
  display: inline-block;
  padding: 5px 10px;
  margin: 0 5px;
}
header a:visited {
  color: white;
}
